.observer_page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 6fr; /* 3行：导航、平台、设置 */
    gap: 20px;
    min-height: 0;
    padding: 15px;
    box-sizing: border-box;
}

/* 搜索导航 - 顶部固定高度 */
.observer_navigation {
    grid-column: 1 / 4;
    grid-row: 1 / 2;     /* 第1行 */
    border: 1px solid #141313;
    box-shadow: 0 0 10px rgba(246, 6, 6, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    /* 粘性定位 */
    /* position: sticky; */
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* observer_navigation.css */
.observer_navigation nav {
  display: flex;
  justify-content: center; /* 水平居中 */
}

.observer_navigation ul {
    display: flex;
    flex-direction: row; /* 横向排列 */
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px; /* 导航项间距 */
}

.observer_navigation li {
    margin: 0;    
}

.observer_navigation a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.observer_navigation a:hover {
    background-color: #f0f0f0;
}



.public_figure{
    grid-column: 1 / 4;
    grid-row: 2 / 3;     /* 第2行 */
    border: 1px solid #141313;
    box-shadow: 0 0 10px rgba(246, 6, 6, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}



